.App-header {
  width: 100%;
  padding: 10px 20px; /* Adjust the padding as needed */
  background: #686f6b; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow for depth */
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the header is above other items */
}
.header-right {
  float: right;
  margin-right: 60px;
}

.icon {
  font-size: 2.5rem; /* Adjust icon size as needed */
  margin-left: 5px; /* Space between icons if you have more than one */
  cursor: pointer; /* Changes the cursor to suggest it's clickable */
}
.register-icon {
  color: #b8e80d; /* Or any other color you prefer */
}
.App {
  padding-top: 60px; /* Height of the header plus some extra space */
}


.background-image {
  background-image: url('/BannerImage.png'); /* Update with the correct path */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 50vh; /* Or the height you prefer */
  position: relative;
  margin-top: 60px; /* Height of your header */
}
.search-container {
  background: rgba(226, 207, 207, 0.8); /* Semi-transparent white background */
  padding: 2rem;
  border-radius: 10px;
}

.search-box {
  display: flex;
  gap: 1rem; /* Space between inputs and button */
  margin-top: 1rem;
}
.search-box input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px; /* Fixed width, you can adjust as needed */
}

.search-box button {
  padding: 0.5rem 1rem;
  background-color: yellow; /* The button color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #e0e000; /* Slightly darker yellow on hover */
}

h1 {
  color: #333; /* Title color */
  margin-bottom: 1rem;
}

/* Under Construction Notice Styles */
.construction-notice {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.construction-icon {
  color: rgb(162, 162, 49);
  font-size: 8rem; 
  animation: workAnimation 2s ease-in-out infinite; 
}

.construction-notice p {
  color: #333;
  margin: 0; /* Remove default margin */
  font-size: 1rem; 
}
.register-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; 
}

.register-icon {
  margin-right: 10px;
  font-size: 24px; /* Adjust size as needed */
}
@keyframes workAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px); /* Mimic the digging motion */
  }
}

